body {
  font-size: 20px;
  background-color: rgb(147, 196, 184);
}
.input {
  width: 250px;
  height: 40px;
  padding: 5px 5px;
}
img {
  max-width: 400px;
  display: block;
  height: auto;
}
.card-countries {
  position: relative;
}
.countries-flag {
  position: absolute;
  top: 90px;
  right: 745px;
  outline: auto;
}
.countries-title {
  text-align: center;
  font-size: 50px;
}
.text {
  font-weight: 700;
  font-size: 25px;
}
.countries-descript {
  margin-left: 350px;
}
